<%- include('shared/top.ejs') %>
<class="card">
            <div class="card-body">
                <h2>Pterodactyl Details</h2>
                <sub>Pterodactyl is our management panel!</sub>
                <p><strong>URL:</strong> <a href="https://game.meegie.net/" target="_blank">https://game.meegie.net/</a>
                </p>
                <p><strong>Username:</strong> u<%- req.session.user.id %></p>
                <p><strong>Password:</strong> <%- pass %></p>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h2>Your Servers</h2>
                <ul class="list-group">
                    <% for(var i=0; i<servers.length; i++) { %>
                        <li class="list-group-item">
                            <a href="https://game.meegie.net/server/<%- servers[i].pteroUID %>">
                                <%= servers[i].name %> (<%= (servers[i].ram)/1024 %> GB RAM)
                            </a>
                        </li>
                        <% } %>
                </ul>
            </div>
        </div>

        <div class="card">
            <div class="card-body">
                <h3>Create Server</h3>
                <a href="https://cuty.io/CreateMC">Click here to create a VPS</a>
            </div>
        </div>

 <div id="frame" style="width: 100%;"><iframe data-aa='2312977' src='//acceptable.a-ads.com/2312977' style='border:0px; padding:0; width:100%; height:100%; overflow:hidden; background-color: transparent;'></iframe><a style="display: block; text-align: right; font-size: 12px" id="frame-link" href="https://a-ads.com/?partner=2312977">Advertise here</a></div>

        <div class="card">
            <div class="card-header">
                <div class="card-title">
                    FAQ
                </div>
            </div>
            <div class="card-body">
                <b>Unused servers:</b><br />
                If your server has not been started for 3 days, it will automatically get deleted without any backups
                available.<br /><br />

                <b>Where to get support:</b><br />
                If you have questions, you can either:
                <ul>
                    <li>Join our <a href="https://discord.gg/3jmDHT6pAr">discord server</a></li>
                    <li>Ask on our <a href="https://help.meegie.net">forum*</a></li>
                </ul>

                <sub>* points that you get on this site can be traded for credits.</sub>
            </div>
        </div>

<%- include('shared/bottom.ejs') %>
