<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - ErtixNodes</title>
    <link rel="stylesheet" href="/dash/style.css">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- Material Icons -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <div class="sidebar">
        <nav>
            <ul>
                <li><a href="/dash"><i class="fa fa-home"></i> Home</a></li>
                <li><a href="/dash/create"><i class="fa fa-plus-circle"></i> Create</a></li>
                <li><a href="/dash/earn"><i class="fa fa-dollar-sign"></i> Earn</a></li>
            </ul>
        </nav>
        <div class="user-info">
            <a href="/dash" class="user-link">
                <div class="avatar-placeholder">A</div>
                <span class="username"><%- req.session.user.global_name %></span>
            </a>
        </div>
    </div>
    <div class="main-content">
        <main>
            <section id="home">
                <div class="home-box">
                    <div class="resources">
                        <div class="resource-card">
                            <i class="fa fa-coins"></i> <span><strong id="bal"><%- user.balance %></strong> credits</span>
                        </div>
                        <div class="resource-card">
                            <i class="fa fa-hdd"></i> <span>~<strong><%- Math.ceil(user.balance/60) %></strong> hours left</span>
                        </div>
                        <!-- <div class="resource-card">
                            <i class="fa fa-cogs"></i> <span>0.25 vCPU</span>
                        </div> -->
                    </div>
                    <a class="create-server-button" href="/dash/create">Create VPS</a>
                    <div class="panel-info" style="margin-bottom: 25px;">
                        <h1>Management panel information:</h1>
                        <p><strong>URL:</strong> https://game.meegie.net</p>
                        <p><strong>Login:</strong> u<%- req.session.user.id %></p>
                        <p><strong>Password:</strong> <%- pass %></p>
                    </div>
                    <h1>Your vps:</h1>
                    <% for(var i=0; i<servers.length; i++) { %>
                    <div class="server-card">
                        <div class="server-info">
                            <div class="server-detail">
                                <i class="fa fa-server"></i> <span><%= servers[i].name %></span>
                            </div>
                            <div class="server-detail">
                                <i class="fa fa-tachometer-alt"></i> <span><%= (servers[i].cpu/100) %> vCPU</span>
                            </div>
                            <div class="server-detail">
                                <i class="fa fa-memory"></i> <span><%= servers[i].ram %> MB</span>
                            </div>
                            <div class="server-detail">
                                <i class="fa fa-hdd"></i> <span><%= servers[i].disk %> MB</span>
                            </div>
                            <div class="server-detail">
                                <i class="fa fa-coins"></i> <span><%= servers[i].cost %> credits/minute</span>
                            </div>
                        </div>
                        <a class="manage-button" href="https://game.meegie.net/server/<%- servers[i].pteroUID %>">Manage</a>
                    </div>   
                    <% } %>                 
            </section>
        </main>
    </div>

    <script>
        async function credits() {
            var res = await fetch('/dash/credits').then(r => r.text());
            document.getElementById('bal').innerHTML = res;
        }

        credits();

        setInterval(credits, 15*1000);
    </script>
</body>
</html>